.slds-table {
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

th {
    background-color: #f3f6f9;
    font-weight: 600;
    text-align: left;
    padding: 0.75rem;
}

td {
    vertical-align: middle;
    padding: 0.5rem;
    font-size: medium;
}

.yes-icon {
    color: #2e844a;
}

.no-icon {
    color: #ba0517;
}

lightning-combobox {
    width: 100%;
}