.initializer {
    --primary-color: #213A8F;
    --secondary-color: #95D3E0;
    --hover-color: #46327C;
    --section-background: white;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 120px;
    --mobile-logo-size: 120px;
}
.ihs {
    --primary-color: #320000;
    --secondary-color: #640C0C;
    --hover-color: #FFBE46;
    --section-background: #FFFFB7;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 120px;
    --mobile-logo-size: 120px;
}

.esib {
    --primary-color: #1D458B;
    --secondary-color: #0074B8;
    --hover-color: #0074B8;
    --section-background: #FFFFFF;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 120px;
    --mobile-logo-size: 60px;
}

.alpha {
    --primary-color: #005CAA;
    --secondary-color: #FFC738;
    --hover-color: #D5D5D5;
    --section-background: #FFFFFF;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 100px;
    --mobile-logo-size: 45px;
}

.primus {
    --primary-color: #1F5CA9;
    --secondary-color: #FFCC29;
    --hover-color: #ED3237;
    --section-background: #FFFFFF;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 120px;
    --mobile-logo-size: 120px;
}

.universal {
    --primary-color: #292967;
    --secondary-color: #FDDF49;
    --hover-color: #D5D5D5;
    --section-background: #FFFFFF;
    --background-overlay: rgba(255, 255, 255, 0.4);
    --logo-size: 120px;
    --mobile-logo-size: 60px;
}

.cards {

    --slds-c-card-color-border: var(--section-background);

    --slds-c-card-color-background: var(--section-background);

}

.logoFront {
    height: var(--logo-size);
    width: auto;
}

.logoFrontMobile {
    height: var(--mobile-logo-size);
    width: auto;
}

.mobile-step-text {
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.stepper-container {
    width: 100%;
}

.stepper-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.stepper-header .step:hover .label {
    color: var(--hover-color); /* or any highlight color */
    font-weight: bold;
    text-decoration: underline;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex: 1;
    position: relative;
}

.step .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--secondary-color);
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    color: var(--section-background);
    z-index: 1;
}

.step.complete .circle {
    background: var(--primary-color);
}

.step.active .circle {
    background: var(--primary-color);
}

.step .label {
    margin-top: 4px;
    font-size: 12px;
}

.step .label-mobile-margin {
    margin-top: 4px;
    font-size: 11px;
}

.step .label-mobile {
    font-size: 11px;
}

.step::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 16px;
    left: 50%;
    background: #ccc;
    z-index: 0;
}

.step:last-child::after {
    content: none;
}

/*  */
.section-box {
    border: 1px solid var(--secondary-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--section-background);
    width: 100%;
}

.section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

.field-padding {
    padding: 0.75rem;
}

.scroll-wrapper {
    width: 100%;
    overflow: visible;
}

:host {
    display: block;
    height: auto;
}

.content {
    padding: 2rem;
}

.scroll-indicator {
    position: fixed;
    top: 18rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.progress-circle {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.progress-circle .bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
}

.progress-initializer .path-initializer {
    fill: none;
    stroke: #213A8F;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}
.progress-ihs .path-ihs {
    fill: none;
    stroke: #320000;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}
.progress-esib .path-esib {
    fill: none;
    stroke: #1D458B;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}
.progress-alpha .path-alpha {
    fill: none;
    stroke: #005CAA;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}
.progress-primus .path-primus {
    fill: none;
    stroke: #1F5CA9;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}
.progress-universal .path-universal {
    fill: none;
    stroke: #292967;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar {
    width: 14px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

/* Complete state */
.complete .bar {
    background-color: var(--secondary-color);
    
}

.complete ~ svg .progress {
    stroke: var(--hover-color);
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-overlay); /* Slightly dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.svg-loader {
  width: 75px;
  height: 75px;
}

/* .fil0 {
  fill: #213A8F;
  fill-rule: nonzero;
} */


.fil0 {
    fill: #213A8F;
    fill-rule: nonzero;
}
.fil1 {
    fill: #FEFEFE;
    fill-rule: nonzero;
}
.fil3 {
    fill: #FEFEFE;
}
.fil2 {
    fill: none;
}

.ihs-1 {
    fill: none;
}

.ihs-2 {
    fill: #2e1010;
    fill-rule: evenodd;
}

.ihs-3 {
    clip-path: url(#clippath);
}

.esi-1 {
    fill: none;
}

.esi-2 {
    clip-path: url(#clippath-1);
}

.esi-3 {
    clip-path: url(#clippath-3);
}

.esi-4 {
    clip-path: url(#clippath-2);
}

.esi-5 {
    clip-path: url(#clippath);
}

.alpha-1 {
    fill: none;
}

.alpha-2 {
    fill: #065ca9;
}

.alpha-2,
.alpha-3 {
    fill-rule: evenodd;
}

.alpha-3 {
    fill: #ffc637;
}

.alpha-4 {
    clip-path: url(#clippath);
}

.primus-1 {
    fill: #fff;
}

.primus-1,
.primus-2 {
    fill-rule: evenodd;
}

.primus-3,
.primus-4 {
    fill: none;
}

.primus-5 {
    clip-path: url(#clippath-11);
}

.primus-6 {
    clip-path: url(#clippath-13);
}

.primus-7 {
    clip-path: url(#clippath-12);
}

.primus-2 {
    fill: #0054a6;
}

.primus-8 {
    clip-path: url(#clippath-16);
}

.primus-4 {
    stroke: #fff;
    stroke-miterlimit: 2.61;
    stroke-width: .56px;
}

.universal-1 {
    fill: none;
}

.universal-2 {
    fill: #292a67;
    fill-rule: evenodd;
}

.universal-3 {
    clip-path: url(#clippath);
}