.from_header{
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

.footer{
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;   
}
.container {
background: #eee;
   margin-top: 20px;
   border-radius: 10px;
   border: 1px solid #ccc;
   padding-top: 10px;
   box-shadow: 0px 0px 4px #ddd;
}
h2 {
text-align: center;
   padding-top: 20px;
   padding-bottom: 0px;
   color: #191970;
   margin-top: 0px;
}
.margin-photo{
     margin: 0 70px;
}
.padding-ceheck-box{
    padding-left: 50px;
}
.btn-block {
max-width:400px !important;
margin: 0 auto;
}

/*.form-group {
    max-width: 400px;
    margin: 10 auto;
}*/
.formError {
left:200px !important;
}
.text-right {
font-weight:bold;
}